<div class="flex justify-center h-screen items-center overflow-hidden">
<div class="container">
    <div class="cover" [ngClass]="{'rotate-active': isRegister}">
        <div class="front">
            <img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&w=600" alt="login Imaage">
            <div class="text">
                <span class="text-1">Share, Saver, and Create: Your Recipe Haven Awaits!</span>
                <span class="text-2">Let's get connected....</span>
            </div>
        </div>
        <div class="back">
            <img src="https://media.istockphoto.com/id/1481382390/photo/trendy-business-owner-woman-in-sweater-in-green-office.jpg?s=612x612&w=0&k=20&c=hk0J-L_6Pq89pTQzpQyNtkxxV7JQhnzl7_B6nas1nYw=" alt="Register Image">
            <div class="text">
                <span class="text-1">Lets Login for Recipe</span>
                <span class="text-2">Lets get connect....</span>
            </div>   
        </div>
    </div>
    <div class="form h-full">
        <div class="form-content h-full">
            <div class="login-form">
                <h1 class="text-lg font-bold text-center pb-8">SiginUp</h1>
                <div>
                    <form [formGroup]="registrationForm" (ngSubmit)="handleRegister()" class="">
                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label >Full Name</mat-label>
                                <input matInput placeholder="FullName..." value="" name="fullName" formControlName="fullName">
                              </mat-form-field>
                        </div>
                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label >Email</mat-label>
                                <input matInput placeholder="email..." value="" name="email" formControlName="email">
                              </mat-form-field>
                        </div>
                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label >Password</mat-label>
                                <input matInput placeholder="Password..." value="" name="password" formControlName="password">
                              </mat-form-field>
                        </div>
                
                          <div >
                            <button class="w-full" style="background-color: rgb(255, 0, 144);"  mat-raised-button color="primary" type="submit">
                                Register
                            </button>
                        </div>
                    </form>
                    <div class="flex items-center justify-center gap-2 mt-9">
                        have Account ? <button mat-button color="primary" (click)="togglePanel()">Login</button>
                     </div>
                </div>
                
            </div>
            <div class="login-form">
                <h1 class="text-lg font-bold text-center pb-8">Login</h1>
                <div>
                    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()" class="">
                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label >Email</mat-label>
                                <input matInput placeholder="email..." value="" name="email" formControlName="email">
                              </mat-form-field>
                        </div>
                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label >Password</mat-label>
                                <input matInput placeholder="Password..." value="" name="password" formControlName="password">
                              </mat-form-field>
                        </div>
                
                          <div >
                            <button class="w-full" style="background-color: rgb(255, 0, 144);"  mat-raised-button color="primary" type="submit">
                                Login
                            </button>
                        </div>
                    </form>
                
                    <div class="flex items-center justify-center gap-2 mt-9">
                       Don't have Account ? <button mat-button color="primary" (click)="togglePanel()">SiginUp</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>